[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
binlog_format=ROW
default_storage_engine=innodb
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=0
innodb_buffer_pool_size=49152M
innodb_buffer_pool_instance=8
innodb_old_blocks_time=1000
sync_binlog=0
innodb_io_capacity=500
wsrep_on=ON
wsrep_node_name=R61MDB01
wsrep_provider=/usr/lib64/galera/libgalera_smm.so
wsrep_provider_options="gcache.size=5G;gcache.recover=yes"
wsrep_cluster_name="zcluster"
wsrep_cluster_address="gcomm://<address1>,<address2>,<address3>"
wsrep_sst_method=rsync

[mysql_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

